{
    "printWidth": 140,
    "tabWidth": 4,
    "semi": true,
    "singleQuote": true,
    "trailingComma": "es5",
    "arrowParens": "always",
    "endOfLine": "lf",
    "overrides": [
        {
            "files": ["*.json", "*.md", "*.yml", "*.yaml"],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
